<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Post - Blog</title>
        <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
        <link rel="canonical" th:href="@{https://getbootstrap.com/docs/5.3/examples/navbar-static/}">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@docsearch/css@3}">
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="layouts/navbar :: nav"></div>

        <main class="container">
            <div class="bg-body-tertiary p-5 rounded">
                <h1>Create Post</h1>
                <form th:action="@{/post/create}" th:object="${post}" th:method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Post Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Post Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Post Image</label>
                        <input type="file" th:field="*{image}" class="form-control" id="image">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="category">Post Category</label>
                        <select th:field="*{category}" class="form-select" id="category">
                            <div th:each="category : ${categories}" >
                                <option th:value="${category.id}" th:text="${category.name}"></option>
                            </div>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </main>

        <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>