<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post - Blog</title>

        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/navbar :: #nav}"></div>

        <main class="container">
            <div class="p-5 rounded">
                <h2 th:text="${post.title}"></h2>
                <h6 th:text="|Author: ${post.user.name}, Last updated: ${#temporals.format(post.updatedAt, 'dd-MM-yyyy')}|" class="mb-3 text-secondary"></h6>
                <div class="clearfix">
                    <img th:if="${not post.image.isBlank}" th:src="@{'/storage/' + ${post.image}}" class="col-md-6 float-md-end mb-3 ms-md-3 img-size" alt="Post Image">

                    <p th:text="${post.description}"></p>
                </div>
            </div>
        </main>
    </body>
</html>