<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register - Blog</title>

        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/navbar :: #nav}"></div>

        <main class="container">
            <div class="p-5 rounded">
                <h1>Register</h1>
                <form th:action="@{/register}" th:object="${user}" th:method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="email">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </main>
    </body>
</html>