<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home - Blog</title>

        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/navbar :: #nav}"></div>

        <main class="container">
            <div class="p-5 rounded">
                <div th:each="post : ${posts.content}" class="list-group">
                    <div class="card border-0 mb-1">
                        <div class="card-body">
                            <h2 class="card-title post-title text-capitalize">
                                <a th:href="@{/post/{id}/view(id=${post.id})}" th:text="${post.title}" class="nav-link"></a>
                            </h2>
                            <h6 class="card-subtitle mb-3 text-body-secondary" th:text="|Author: ${post.user.name}, Last updated: ${#temporals.format(post.updatedAt, 'dd-MM-yyyy')}|"></h6>
                            <p class="d-block text-truncate" style="width: 100%;" th:text="${post.description}"></p>
                            <a th:href="@{/post/{id}/view(id=${post.id})}" class="btn btn-dark">Read</a>
                        </div>
                    </div>
                </div>
                <div aria-label="pagination">
                    <div th:if="${not posts.isEmpty}" class="d-flex justify-content-center">
                        <a class="btn btn-dark m-2" th:classappend="@{${currentPage} >= ${posts.totalPages - 1}}? 'disabled'" th:href="@{/(page=${currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">Newer</span>
                        </a>
                        <a class="btn btn-dark m-2" th:classappend="${currentPage <= 0}? 'disabled'" th:href="@{/(page=${currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">Older</span>
                        </a>
                    </div>
                    <div th:unless="${not posts.isEmpty}" class="text-center">
                        No data available
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>